* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.carousel-inner {
    margin-top: 25px;
    height: 580px;
    width: 468px;
}

.box-product {
    display: flex;
    margin: auto;
    width: 50%;
    margin: auto;
}

.info-product {
    margin: 32px 0 0 32px;
}

.info-product h3 {
    margin: auto;
    color: #140f0a;
    font-weight: 700;
    font-size: 32px;
}

.info-product > strong {
    display: flex;
    color: #3ab5a1;
    font-size: 25px;
    margin-top: 50px;
}

.box-container {
    display: flex;
    height: 35px;
    align-items: center;
}

.box-container .radio {
    border: solid 1.4px #757575;
    margin-right: 5px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

#black {
    background: #140f0a;
}

#white {
    background: #E9E9E9;
}

.box-container .radio:hover {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.btn.btn-secondary.active {
    background-color: #140f0a;
}

.btn.btn-secondary {
    background: #3ab5a1;
}
.color-buttons label{
    
}
.tamanho{
    display: flex;
    flex-direction: column;
}