* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.carousel-inner {
    margin-top: 25px;
    height: 580px;
    width: 468px;
}

.box-product {
    display: flex;
    margin: auto;
    width: 50%;
    margin: auto;
}

.info-product {
    margin: 32px 0 0 32px;

}

.info-product h3 {
    margin: auto;
    color: var(--color-dark);
    font-weight: 700;
    font-size: 32px;
}

.info-product > strong {
    display: flex;
    color: var(--color-aquamarine-darker);
    font-size: 25px;
    margin-top: 50px;
}

.box-container {
    display: flex;
    height: 35px;
    align-items: center;
}

.box-container .radio {
    border: solid 1.4px var(--color-gray);
    margin-right: 5px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

#black {
    background: var(--color-dark);
}

#white {
    background:  white;
}

.box-container .radio:hover {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.btn.btn-secondary.active {
    background-color: var(--color-dark);
}

.btn.btn-secondary {
    background: var(--color-aquamarine-darker);
}
.tamanho{
    display: flex;
    flex-direction: column;
}
#buy-btn{

    margin-top: 20px;
    height: 40px;
    color: var(--color-dark);
    font-weight: 700;
    outline: none;
    text-decoration: none;
    background-color: var(--color-aquamarine);
    border: none;
    border-radius: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}
#buy-btn:hover {
    background: var(--color-aquamarine-darker);
    color: white;
}
