*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.carousel-inner{

    height: 580px;
    width: 468px;
    
}

.box-product {
    display: flex;
    margin: auto;
    width: 50%;
    margin: auto;
}

.info-product h3 {

    margin: auto;
    color:  #140f0a;
    font-weight: 600;
    font-size: 32px;

}
.info-product h5 {

    color:  #140f0a;

}