*{
    font-size: 6.25%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* cabeçalho preto*/
header{
    
    padding-top: 2.5%;
    height: 20vh;
    background-color: #140f0a;
    

}


html{

    font-family: 'Roboto', sans-serif;

}
.content h1{
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 36rem;
    color: #76EAD7;
}

body{

    background-color: #EEEEEE;

}

.content{
    
    margin: auto;
    width: 40%;
}

#searchfield{

    padding-left: 20px;
    color: #757575;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10rem;
    height: 40px;
    width: 90%;
    border-radius: 30px 0 0 30px;
    background-color: #EEEEEE;
    border: none;
    outline: none;
    position: relative;
    
}

#search-button{

    width: 10%;
    height: 40px;
    display: flex;
    border-radius: 0px 30px 30px 0px;
    background-image: url('../assets/search.svg');
    background-repeat: no-repeat;
    background-color: #CBCBCB;
    background-position: center;
    float: right;
    
   
}

#box{

    margin-top: 10px;

}

#search-button:hover{

    background-color: #A3A3A3;

}

#searchfield::placeholder{
    font-style: italic;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    
}

.topnav{
    
    background-color: #C4FB6D;
    height: 30px;
    
    /* ctrl + s isaac */
}

.topnav a{
    
    font-size: 20px;
    color: #473624;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    padding: auto;
    

}

.topnav ul{
    
    
    height: 30px;
    width: 40%;
    margin: auto;
    list-style: none;
    text-align: center;

}

.topnav li{
    
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2px 20px;
    display: inline;

}
.topnav li:hover{

    color: wheat;
    background-color: #a4d359;
    padding: 6px 20px;

}
/*body::after {

    content: "";
    position: fixed;
    background: #140f0a ;
    top: 250px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;


}
 */
