@media(max-width: 1164px){

    

}
/* Altera o titulo H1*/
@media(max-width: 1024px){
	
    .topnav {
        display: none;/*olhei as referencias, e os menus somem com 1024px, tirei essas margins desnecessarias, fontes enormes kkk e ajustei o width pra o header nunca mudar de tamanho verticalmente*/
    }
    .header-container{ 
        width: 60%;
    }
}

@media(max-width: 768px){

    
    .header-container{ 
        width: 100%;
    }

}
/*Altera a margem para centralizar o content*/


@media(max-width: 415px){

    .header-container{ 
        width: 100%;
    }

}
